body {
  font-family: cormorant-garamond, serif;
  font-weight: 400;
  font-style: normal;
  color: #006064;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.sidenav {
  width: 50%;
}

.message {

  margin: 1.5em 1.5em 0 1.5em;
  padding: 1.5em;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  background-color: #e0f7fa;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5em;
  border-color: #e0f7fa transparent transparent;
  margin-left: 40px;
}

section {
  margin: 1.5em auto;
  column-count: 3;
}

div.waterfall-img img {
  display: block;
  max-width: 100%;
}

div.waterfall-img {
  margin-bottom: 20px;
  break-inside: avoid-column;
  overflow: hidden;
}

.tabs .indicator {
  background-color: #00bcd4;

}

.tabs .tab a {
  color: #006064;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #e0f7fa;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #00bcd4;
}

#materialbox-overlay {
  background-color: #e0f7fa;
}


.carousel-image {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-image;
}