#universe {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#solar-system {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pos {
    position: absolute;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
    transform-style: preserve-3d;
    animation-name: invert;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sun,
.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    transform-style: preserve-3d;
}

#sun {
    background-repeat: no-repeat;
    background-size: cover;
}

.planet {
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#mercury {
    z-index: 10;
}

#sun {
    z-index: 1;
}


@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}



@keyframes invert {
    0% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
}

#solar-system {
    transform: rotateX(75deg);
}

#sun {
    transform: rotateX(-90deg);
}

#mercury .pos,
#mercury .planet,
#mercury.orbit {
    animation-duration: 5s;
}

.scale-stretched #sun {
    font-size: 24em;
}

.scale-stretched #mercury .planet {
    font-size: 1.5em;
}

.scale-stretched #mercury.orbit {
    width: 32em;
    height: 32em;
    margin-top: -16em;
    margin-left: -16em;
}

#sun {
    background-image: url("/Users/guozirui/Documents/CODING/HTML/gzr2017.github.io/resource/interaction/inter21.gif");
}

#mercury .planet {
    background-image: url("/Users/guozirui/Documents/CODING/HTML/gzr2017.github.io/resource/interaction/inter22.png");
}