  body {
    font-family:cormorant-garamond, serif;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }



  main {
    flex: 1 0 auto;
  }


  .carousel-wrap {
    margin: auto;
    width: 90%;
  }

  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
  }

  /* end fix */
  .owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-nav i {
    font-size: 52px;
  }

  .owl-nav .owl-prev {
    left: -30px;
  }

  .owl-nav .owl-next {
    right: -30px;
  }